<h2>LATEST NEWS</h2>
<div class="flex-container">
    <!-- <div *ngFor="let article of articles" class="box">
        <img [src]="article.urlToImage" alt="">
        <h5>{{article.title}}</h5>
        <p>{{article.description.slice(0,75)+'...'}}</p>
        <p>{{article.content.slice(0,150)+'...'}} </p>
        <a href="{{article.url}}" target="blank">Read more</a>
    </div> -->
    <div class="static">
        <img src="assets/images/image-1.jpg" alt="image-1">
        <h5>Keeping Up With the Coronas—or Why the Virus Is Winning</h5>
        <p>The climb in global cases is relentless. So what’s corona got that we don’t...
            <br><br>
            Its unlikely a coincidence that countries run by women have done far better controlling corona than countries run by men. Theyre less obsessed with be...</p>
            <a href="https://www.wired.com/story/why-coronavirus-is-winning/" target="blank">Read more</a>
    </div>
    <div class="static">
        <img src="assets/images/image-2.jpg" alt="image-2">
        <h5>India coronavirus: Bihar braces for 'corona storm'</h5>
        <p>Cases are rising fast in one of India's poorest and most populous states. C...
            <br><br>
            Image copyrightGetty ImagesImage caption Bihar has ramped up coronavirus testing but it's still too low, say experts When Gopal Singh complained of...</p>
        <a href="https://www.bbc.com/news/world-asia-india-53527094" target="blank">Read more</a>            
    </div>
    <div class="static">
        <img src="assets/images/image-3.webp" alt="image-3">
        <h5>Runaway Star Blamed for Black Hole’s Bizarre Disappearing Act</h5>
        <p>Two years ago, astronomers watched in confusion as the corona of a supermas...
            <br><br>
            Two years ago, astronomers watched in confusion as the corona of a supermassive black hole quickly faded from view, only to reappear a few months late...</p>
        <a href="https://gizmodo.com/runaway-star-blamed-for-black-hole-s-bizarre-disappeari-1844417671" target="blank">Read more</a>
    </div>
</div>