
<div class="container">
    <h2>ABOUT US</h2>
    <p>
        This project was made to collect available details on all COVID-19 cases across the world and display them at one place. The content is handpicked and filtered by the best developers to ensure the sources are reliable with minimum fake details. This website and the associated data API will be continuously updated and maintained throughout the course of this pandemic. 
        <br><br><br>

        In 2020, The whole world ceased due to the rapid and uncontrollable spread of covid-19.  The WHO put forward the rules and regulation and measures to be taken by the government and the public. They also delivered the reports of all cases in three categories as total cases, positive cases, recovered cases and deaths for the day.
        <br><br><br>

        The purpose of this website is to acknowledge the users with the total cases of the world, and it displays the total cases, positive cases, negative cases, and deaths. We also categorize the cases according to the country and the region. This helps the user to search the cases with country or region name, this also offers the 
        user to know more on symptoms and precautions and above all they offer a self-assessment section for the users. People can know of news updates related to the virus from this website.
        <br><br><br>

        This website constitutes a home page which gives an overview of the disease and it gives out the number of active cases, recovered cases and reported deaths. The graph enables the user to picturize the worldwide case of Covid. This includes a search page that offers the user to search the area or region or country he/she is looking for.
         This displays the total cases including active and inactive cases in accordance with the country search for. Apart from this, a symptoms and precaution page are added that allows the user to follow the symptoms and preventive measures to be taken by each individual. In addition, we have New Page that acknowledges the public with every latest update related to the pandemic.
          The FAQ page helps in gathering ideas on frequently asked questions. Moreover, the website offers the platform of self-assessment for every individual whoever uses it. This can help in figuring out their health status.
    </p>
</div>