<div class="split left">
    <h2>SYMPTOMS</h2><br>
        <p>
             Symptoms may take up to 
14 days to appear after 
exposure to COVID-19 
        </p>
        <ul>
            <li>COUGH</li>
            <li>FEVER</li>
            <li>DIFFICULTY BREATHING</li>
            <li>PNUEMONIA IN BOTH LUNGS</li>
        </ul>
        <img src="assets/images/SymptomsCOVID.png" alt="Symptoms" style="height: 350px;width: 400px;">
</div>
<div class="split right">
    <h2>PRECAUTIONS</h2><br>
        <ol>
            <li>HANDS: Wash them often</li>
            <li>ELBOW: Cough into it</li>
            <li>FACE: Wear Mask & Don't touch it</li>
            <li>SPACE: Keep safe distance</li>
            <li>HOME: Stay home if you can</li>
        </ol><br>
        <img src="assets/images/PrecautionsCOVID.png" alt="Precautions">
</div>